
@media screen and (min-width: 480px) {
  body {
    background-image: url("images/background.png");
  }
}
img{
	
	
	justify-content: center;
	align-items: center;
	
}
h1{
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 35px;
	
	
}

a{
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	
}
a:hover {
  background-color: white;
color: black;
}