*{
    margin: 0px;
    padding: 0px;
}



h1{
    color: red;
}


  body{
    background-color: burlywood;

}



@media screen and (max-width: 600px) {
    body {
      background-color: blue;
    }
  }