* {margin: 0; padding: 0; box-sizing: border-box;}

.container{
    width: 35%;
    height: 10%;
    margin: 0 auto;
    border: 2px solid green;
    border-radius: 15px;
	display: grid;
	display: flex;
    
    justify-content: center;
    align-items: center;
	background-image: url("img1.jpeg");

   
}

.box{
    width: 100px;
    height: 100px;
    background: white;
    margin: 6px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.flexed{
    
   
}

.right-section{
    border: 4px;
    border-radius: 15px;
    
}

.middle-section{
    border: 6px;
    border-radius: 15px;
    

}
 .left-section{
border: 2px;
border-radius: 15px;



}


.extra-section{
border: 2px;
border-radius: 15px;



}


